body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #333;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  animation-name: fadeInFrames;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.dropdown:hover .drop {
  display: block;
}

.main {
  margin: auto;
  margin-top: 50px;
  width: 85%;
  padding: 10px;
}

.center {
  float: center;
  text-align: center;
}

.slide {
z-index: -100;
display: none;
opacity: 0;
animation: fader 10s;
}

@keyframes fader {
  0% {opacity: 0;}
  25% {opacity: 1;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}

.left_image {
  display: block;
  float: left;
  margin: 30px;
  margin-top: 0px;
  min-width: 400px;
  width: 41%;
}

.right_image {
  display: block;
  float: right;
  margin: 30px;
  margin-top: 0px;
  min-width: 400px;
  width: 41%;
}

@keyframes fadeInFrames {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}