:root {
  --nav-padding: 16px;
  --nav-padding-neg: -16px;
  --nav-padding-half: 8px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #333;
  top: var(--nav-padding-neg);
  left: var(--nav-padding-neg);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar ul li {
  position: relative;
  float: left;
  padding: var(--nav-padding);
  transition: background-color 0.25s ease-in-out;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.navbar ul li:hover {
  background-color: red;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  float: left;
  overflow: hidden;
  background-color: #f9f9f9;
  min-width: 160px;
  margin-top: var(--nav-padding-half);
  margin-left: var(--nav-padding-neg);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  animation-name: fadeInFrames;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
}

.dropdown-content ul {
  padding: 0;
}

.dropdown-content ul li {
  display: block;
  width: 100%;
}

.dropdown-content ul li a {
  color: black;
  text-decoration: none;
}

.navbar ul li:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.navbar ul li .dropdown-content ul li:hover {
  background-color: #ddd;
  cursor: pointer;
}

.main {
  margin: 50px auto auto;
  width: 85%;
  padding: 10px;
  animation-name: fadeInFrames;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.center {
  text-align: center;
}

.slide {
z-index: -100;
display: none;
opacity: 0;
animation: fader 10s;
}


.left_image {
  display: block;
  float: left;
  margin: 0 30px 30px;
  min-width: 400px;
  width: 43%;
}

.right_image {
  display: block;
  float: right;
  margin: 0 30px 30px;
  min-width: 400px;
  width: 43%;
}

.centered_image {
  position: absolute;
  max-width: 80%;
  top: 10%;
  left: 10%;
  border-radius: 3px;
}

@keyframes fadeInFrames {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fader {
  0% {opacity: 0;}
  25% {opacity: 1;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}
