<nav class="navbar">
    <ul style="list-style-type:none;">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="{% url 'tournaments' %}">Турниры</a></li>
        <li>
            <div class="dropdown">
                <a>Подготовка</a>
                <div class="dropdown-content">
                    <ul style="list-style-type:none;">
                        <li><a href="preparation/teamleads">Руководители</a></li>
                        <li><a href="preparation/written_materials">Оформление материалов</a></li>
                        <li><a href="preparation/quiz">Нулевой тур</a></li>
                        <li><a href="preparation/before_round">Перед боем</a></li>
                        <li><a href="preparation/round">Бой</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <a>Роли</a>
                <div class="dropdown-content">
                    <ul style="list-style-type:none;">
                        <li><a href="roles/reporter/reporter">Докладчик</a></li>
                        <li><a href="roles/opponent/opponent">Оппонент</a></li>
                        <li><a href="roles/reviewer/reviewer">Рецензент</a></li>
                        <li><a href="roles/observer/observer">Наблюдатель</a></li>
                        <li><a href="roles/roles">О ролях</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li><a href="{% url '29' %}">Гимназия №29</a></li>
    </ul>
</nav>