{% extends "base.html" %}
{% load static %}

{% block head_title %}
Турниры
{% endblock %}

{% block content %}
<div class="center">
    <h1>Турниры Юных Математиков</h1>
    <h2>суть, список и достижения</h2>
</div>
<hr>
<h3>Суть</h3>
<p>TODO</p>

<hr>
<h3>Республиканский Турнир Юных Математиков (РТЮМ)</h3>
<p>TODO</p>
<a href="https://uni.bsu.by/arrangements/turnir/index.html" target="_blank">Страница РТЮМ</a>

<hr>
<h3>Санкт-Петербургский Турнир Юных Математиков (СПбТЮМ)</h3>
<p>TODO</p>
<a href="http://spbtym.ru/" target="_blank">Страница СПбТЮМ</a>


<hr>
<h3>Муждународный Турнир Юных Математиков (ITYM)</h3>
<p>TODO</p>
<a href="http://itym.org/" target="_blank">Страница ITYM</a>

<hr>
<h3>Достижения гимназии №29</h3>
<p>TODO</p>

{% endblock %}